figure {
  height: 50em;
  width: 50em;
  border: 1px solid red;
  /*
  background-image: url(./src/small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  */
  /* background: url(./src/small.jpg) no-repeat 50% 50%/20%, url(./src/small.jpg) no-repeat 0% 0%/20%; */
  /* background-image: linear-gradient(45deg, transparent 50%, orange, red, green), linear-gradient(45deg, pink, brown, yellow, black); */
  background-image: radial-gradient(green, orange, red);
}