<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <title>Главная::О НАС</title>
</head>

<body>
  <h1 align="center">Это мой первый сайт</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae enim aliquid illum numquam voluptatum consequuntur
    aspernatur similique deleniti a omnis ex sit vero exercitationem temporibus possimus, necessitatibus impedit
    assumenda? Unde.</p>
  Написать <br>
  пять <br>
  слов <br>
  расположенных <br>
  вертикально <br>

  <p>“Родившись в эксперименте военных и проведя детство в песочнице для ученых и чудаков, в настоящее время всемирная
    сеть компьютерных сетей <b>(<i>известная также как Интернет</i>)</b> превратилась в невероятно разнообразное и
    экономически
    самостоятельное сообщество <i><u><b>пользователей и поставщиков</b></u></i> электронной информации.</p>
  <hr>

</body>

</html>