<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Урок №2</title>
</head>

<body>
  <hr>
  <img src="../../img/google_office.jpg" alt="офис гугла" align="left">
  <img src="../../img/google_office_2.jpg" alt="офис гугла" align="right">
  <p>
    <span style="color:blue">Новый офис <b>Google</b>,</span> оформленный специалистами из архитектурной студии
    <b><i><u>Camenzind
          Evolution</u></i></b>,
    расположен в самом
    высоком
    коммерческом здании Дублина (Ирландия).В этой самой масштабной в Европе штаб-квартире компании работают сотрудники
    более чем из <span style="color: red">38 стран</span>, говорящие на <span style="color:red">46
      языках</span>.Традиционно для Google,
    открытое
    индустриальное лофт-пространство
    призвано объединять и стимулировать коллегиальную работу, способствовать творческому мышлению и плодотворному
    отдыху.<b style="color: rgb(228, 195, 12)">Общая площадь офиса</b> составляет около 50 000 м<sup>2</sup>.

  </p>
  <hr>
</body>

</html>