@import "reset.css";
@import "variables.css";
@import "fonts.css";

/* #region UIKit */
* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

button,
.outlined-button {
  background: white;
  color: black;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
  text-transform: uppercase;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: black;
  color: white;
}

button:active {
  color: black;
  background: white;
  box-shadow: inset 0px 0px 4px;
  border: 1px solid #00000088;
}

.oulined-button:hover {
  color: var(--ceramic-color);
  border-color: var(--ceramic-color);
}


label {
  color: var(--dark-color);
  font-size: calc(14rem/16);
  font-weight: 400;
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: calc(2rem/16);
  width: calc(300rem/16);
  height: calc(48rem/16);
  border: calc(1rem/16) solid var(--dark-color);
  padding-bottom: .5rem;
}

textarea {
  height: 8rem;
}

input:disabled {
  border: none;
}

input:invalid {
  border: calc(1rem/16) solid var(--error-color);
}


.container {
  margin: 0 auto;
  max-width: 90rem;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  gap: calc(100rem/16);
}

/* #endregion */

/* #region header */
header {
  padding-top: calc(50rem/16);
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* header top */
header .header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3em;
}


header .header-top .logo .logo__link {
  margin: 0;
}

/* header nav */
header .header-nav {
  width: 100%;
}

header .header-menu {
  visibility: hidden;
  height: 20px;
  width: 20px;
}

header .logo img {
  width: 9em;
  height: 9em;
}

header .nav-list {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

header .nav-list a {
  font-size: calc(20/16rem);
  text-transform: uppercase;
  font-weight: 400;
}


header .header-icons {
  display: flex;
  flex-direction: row;
  width: 3.5em;
  justify-content: space-between;
}


/* #endregion */

/* #region main */


main h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 500;
  grid-column: span 2;
}

main .create-or-buy p {
  font-size: 20px;
  font-weight: 400;
}

main .main-d-flex {
  display: flex;
  flex-direction: row;
}

/* #region Get in Touch */
main .get-in-touch-body {
  justify-content: space-between;
  width: 100%;
  background: url("../src/images/vase.png") center/auto no-repeat;
  background-position: 100% 100%;
}

main .get-in-touch .get-in-touch-img {
  padding: 1em;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(556rem/16);
  margin-right: 2.5rem;
}

main .get-in-touch form {
  flex-grow: 0;
  flex-shrink: 1;
}

main .get-in-touch .form-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  position: relative;
}

main .form-list label {
  display: block;
  line-height: calc(28rem/16);
}

main .form-list .terms-label {
  display: initial;
}

main .form-list .terms-link {
  color: var(--purple-color);
}

main .form-list .name-and-email {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1.25rem;
}

main .form-list button {
  padding: calc(12rem/16) calc(55rem/16);
}

main .get-in-touch .form-list figure {
  position: absolute;
  background: url("../src/images/vase.png") center/cover no-repeat;
  height: 85px;
  width: 85px;
  bottom: 0;
  right: 0;
  top: 0;
}

/* #endregion Get in touch */


/* #endregion */

/* #region footer */

footer {
  background-color: #232323;
  color: var(--light-color);
}

footer {
  height: 100%;
  padding-top: calc(80rem/16);
}

footer .footer-d-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

footer h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

/* #region newsletter */

footer .newsletter {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

footer .newsletter .footer-form {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}


footer .newsletter input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--light-color);
}

footer .newsletter .footer-terms label,
footer .newsletter input {
  color: var(--light-color);
}

footer .newsletter .footer-terms a {
  color: var(--purple-color);
}

footer .newsletter button {
  background: var(--dark-color);
  color: var(--light-color);
  border-color: var(--light-color);
  align-self: flex-start;
  padding: calc(12rem/16) calc(18rem/16);
}

footer .newsletter button:hover {
  background: var(--light-color);
  color: var(--dark-color);
  border-color: var(--dark-color);
}

/* #endregion */

footer .footer-nav--follow {
  display: flex;
  justify-content: space-between;
  flex-basis: calc(700rem/16);
  flex-shrink: 1;
}

/* #region footer nav */

footer .footer-nav {
  display: flex;
  flex-direction: row;
  column-gap: calc(66rem/16);

}

footer .footer-nav h2,
footer .footer-nav a {
  color: var(--light-color);
}

footer .footer-nav a:hover {
  color: var(--purple-color);
}

footer .footer-nav h2 {
  margin-bottom: 2.5rem;
}

footer .footer-nav .discover-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

/* #endregion */

footer .follow-us {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

footer .follow-us .social-media {
  display: flex;
  column-gap: 0.6rem;
}

footer .copyright {
  text-align: center;
}


/* #endregion footer */



@media all and (max-width: 1200px) {
  .container {
    padding: 0 2rem;
  }

  body {
    gap: calc(60rem / 16);
  }


  /*#region Header */

  header .header-top {
    margin-bottom: 1.2em;
  }

  header .logo img {
    width: 6em;
    height: 6em;
  }

  header .nav-list {
    gap: 1.8rem;
  }

  header .nav-list li:last-of-type {
    margin-right: 0;
  }

  /*#endregion */


  /* #region main */

  /* #region get in touch*/
  main .get-in-touch {
    margin-bottom: 3.5rem;
  }

  main .get-in-touch {
    column-gap: 2.5rem;
  }

  main .get-in-touch figure {
    width: 100%;
  }

  /* #endregion */

  /* #endregion */

  /* #region footer */
  footer {
    padding: calc(50rem/16) calc(30rem/16);
  }

  footer .footer-d-flex {
    padding: 0;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  /* #endregion */
}



@media all and (max-width: 768px) {
  .container {
    padding: 0 .6rem;
  }


  /* #region main */


  main .main-d-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* #region get in touch*/

  main .get-in-touch .title {
    margin-bottom: 3rem;
  }

  main h2 {
    margin-bottom: 0;
    font-size: 2.25rem;
  }

  main .get-in-touch .get-in-touch-img {
    display: none;
  }

  /* #endregion */

  /* #endregion */


  /* #region footer  */
  footer {
    padding: calc(50rem/16) 1.5rem;
  }

  footer .footer-nav--follow {
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  /* #endregion */

}



@media all and (max-width: 360px) {

  /* #region Header */
  header {
    margin: 0;
    justify-content: space-between;
  }


  header .header-menu {
    visibility: visible;
  }

  header .logo {
    margin: 0;
  }

  header .header-nav {
    display: none;
  }

  main h2 {
    font-size: 2rem;
  }

  /* #endregion */

  /* #region main */

  /* #region get in touch */
  main .get-in-touch {
    background: none;
  }

  main .get-in-touch .title {
    margin-bottom: 3.5rem;
  }

  main .get-in-touch-body {
    background: none;
  }

  main .get-in-touch .labeled-name,
  main .get-in-touch .labeled-email,
  textarea {
    width: 100%;
  }

  /* #endregion */

  /* #endregion */

  /*  #region footer */

  footer {
    padding: calc(50rem/16) calc(10rem/16);
  }


  footer .footer-nav {
    flex-wrap: wrap;
    row-gap: 2em;
    align-content: start;
  }

  /* #endregion */


}