@import "reset.css";
@import "variables.css";
@import "fonts.css";

/* #region UIKit */
* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

button,
.outlined-button {
  background: white;
  color: black;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
  text-transform: uppercase;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: black;
  color: white;
}

button:active {
  color: black;
  background: white;
  box-shadow: inset 0px 0px 4px;
  border: 1px solid #00000088;
}

.oulined-button:hover {
  color: var(--ceramic-color);
  border-color: var(--ceramic-color);
}


label {
  color: var(--dark-color);
  font-size: calc(14rem/16);
  font-weight: 400;
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: calc(2rem/16);
  width: calc(300rem/16);
  height: calc(48rem/16);
  border: calc(1rem/16) solid var(--dark-color);
  padding-bottom: .5rem;
}

textarea {
  height: 8rem;
}

input:disabled {
  border: none;
}

input:invalid {
  border: calc(1rem/16) solid var(--error-color);
}


.container {
  margin: 0 auto;
  max-width: 90rem;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  gap: calc(100rem/16);
}

/* #endregion */

/* #region header */
header {
  padding-top: calc(50rem/16);
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* header top */
header .header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3em;
}


header .header-top .logo .logo__link {
  margin: 0;
}

/* header nav */
header .header-nav {
  width: 100%;
}

header .header-menu {
  visibility: hidden;
  height: 20px;
  width: 20px;
}

header .logo img {
  width: 9em;
  height: 9em;
}

header .nav-list {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

header .nav-list a {
  font-size: calc(20/16rem);
  text-transform: uppercase;
  font-weight: 400;
}


header .header-icons {
  display: flex;
  flex-direction: row;
  width: 3.5em;
  justify-content: space-between;
}


/* #endregion */

/* #region main */
main h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
}

main .container {
  display: flex;
  flex-direction: column;
  row-gap: calc(60rem/16);
  padding: 0 2rem;
}

/* #region main .catalog-nav */
main .catalog-nav ul {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  max-width: calc(459rem/16);
  padding: .8rem 0;
}

main .catalog-nav a {
  text-transform: uppercase;
  font-size: 1.25rem;
}

main .catalog-nav a:hover {
  text-decoration: underline;
}

main .catalog-nav a.active {
  text-decoration: underline;
}

/* #endregion */

/* #region main .catalog */
main .catalog {
  padding: 1.5rem;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: calc(35rem/16);
}

main .catalog .corner-decoration {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(200rem/16);
  height: calc(200rem/16);
  border-top: 1px solid var(--dark-color);
  border-left: 1px solid var(--dark-color);
}

main .catalog .item {
  width: calc(285rem/16);
}

main .catalog .item figure {
  min-height: calc(198rem/16);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}


main .catalog .item-details {
  padding: .6rem .6rem 1rem .6rem;
  border: 1px solid var(--dark-color);
}

/* #endregion */

/* #endregion */

/* #region footer */

footer {
  background-color: #232323;
  color: var(--light-color);
}

footer {
  height: 100%;
  padding-top: calc(80rem/16);
}

footer .footer-d-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

footer h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

/* #region newsletter */

footer .newsletter {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

footer .newsletter .footer-form {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}


footer .newsletter input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--light-color);
}

footer .newsletter .footer-terms label,
footer .newsletter input {
  color: var(--light-color);
}

footer .newsletter .footer-terms a {
  color: var(--purple-color);
}

footer .newsletter button {
  background: var(--dark-color);
  color: var(--light-color);
  border-color: var(--light-color);
  align-self: flex-start;
  padding: calc(12rem/16) calc(18rem/16);
}

footer .newsletter button:hover {
  background: var(--light-color);
  color: var(--dark-color);
  border-color: var(--dark-color);
}

/* #endregion */

footer .footer-nav--follow {
  display: flex;
  justify-content: space-between;
  flex-basis: calc(700rem/16);
  flex-shrink: 1;
}

/* #region footer nav */

footer .footer-nav {
  display: flex;
  flex-direction: row;
  column-gap: calc(66rem/16);

}

footer .footer-nav h2,
footer .footer-nav a {
  color: var(--light-color);
}

footer .footer-nav a:hover {
  color: var(--purple-color);
}

footer .footer-nav h2 {
  margin-bottom: 2.5rem;
}

footer .footer-nav .discover-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

/* #endregion */

footer .follow-us {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

footer .follow-us .social-media {
  display: flex;
  column-gap: 0.6rem;
}

footer .copyright {
  text-align: center;
}


/* #endregion footer */



@media all and (max-width: 1200px) {
  .container {
    padding: 0 2rem;
  }

  body {
    grid-template-rows: calc(194rem/16) 1fr calc(425rem/16);
    row-gap: calc(60rem / 16);
  }


  /*#region Header */

  header .header-top {
    margin-bottom: 1.2em;
  }

  header .logo img {
    width: 6em;
    height: 6em;
  }

  header .nav-list {
    gap: 1.8rem;
  }

  header .nav-list li:last-of-type {
    margin-right: 0;
  }

  /*#endregion */


  /* #region footer */
  footer {
    padding: calc(50rem/16) calc(30rem/16);
  }

  footer .footer-d-flex {
    padding: 0;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  /* #endregion */
}







@media all and (max-width: 768px) {
  body {
    grid-template-rows: calc(144rem/16) 1fr calc(765rem/16);
  }

  .container {
    padding: 0 .6rem;
  }

  /* #region footer  */
  footer {
    padding: calc(50rem/16) 1.5rem;
  }

  footer .footer-nav--follow {
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  /* #endregion */

}






@media all and (max-width: 360px) {


  body {
    grid-template-rows: calc(150rem/16) 1fr calc(814rem/16);
  }


  /* #region Header */
  header {
    margin: 0;
    justify-content: space-between;
  }


  header .header-menu {
    visibility: visible;
  }

  header .logo {
    margin: 0;
  }

  header .header-nav {
    display: none;
  }

  main h2 {
    font-size: 2rem;
  }

  main .catalog {
    padding: 0;
    margin: 0 auto;
  }

  main .catalog-nav ul {
    flex-wrap: wrap;
    row-gap: .6rem;
    column-gap: calc(50rem/16);
  }


  main .catalog-nav a {
    font-size: 1.25rem;
  }

  main .corner-decoration {
    display: none;
  }

  /* #endregion */

  /*  #region footer */

  footer {
    padding: calc(50rem/16) calc(10rem/16);
  }


  footer .footer-nav {
    flex-wrap: wrap;
    row-gap: 2em;
    align-content: start;
  }

  /* #endregion */


}