@import "variables.css";

/*font-family: 'Open Sans', sans-serif;*/

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  font-size: var(--font-size);
}

.btn-red {
  background-color: #d51e08;
  color: #fff;
  border: none;

}

h5 {
  font-size: 14px;
}

h3 {
  font-size: 24px;
}

/* #region Header Top */

header .header-top {
  background-color: #fff;
}

header .header-top .navbar {
  background-color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
}

header .header-top .navbar-light .navbar-nav .nav-link {
  color: black;
}

header .header-top .flag {
  padding: 0 .5rem;
  position: relative;
  top: -1px;
}


header .header-top .navbar-light .navbar-nav .btn-cart {
  margin-left: 1rem;
}

header .header-top .navbar-light .btn-red {
  width: 12rem;
  padding: .6rem 0;
  text-transform: uppercase;
}

header .header-top .navbar-light .btn-red img {
  margin-right: .8rem;
}

/* #endregion */

/* #region Header Bottom */
header .header-bottom .carousel-caption {
  bottom: initial;
  top: 16.8rem;
  left: 0;
}

header .header-bottom .carousel-caption h5 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

header .header-bottom .carousel-caption p {
  font-size: 2rem;
  margin-bottom: 2rem;
}


header .header-bottom .carousel-caption .btn-red {
  width: 20.6rem;
  padding: 1.2rem 0;
  font-size: 24px;
}

/* Header Carousel Indicators */
header .carousel-positioned {
  position: absolute;
  right: 0;
  bottom: -1rem;
  left: 0;
  z-index: 15;
  border: 1px solid red;
  text-align: center;
}

header .indicator-styles {
  display: inline-block;
  /*
  position: relative;
  bottom: -1rem;
  justify-content: center;
  list-style: none;
  background: white;
  border: 1px solid green;
  padding: calc(11rem/16) 0;
  width: auto; */
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;

  background-color: #a3a3a3;
  border-radius: 50%;
}





/* #endregion */


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}