<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>About us</h1>
  <!-- Якорные Anchors сслыки -->
  <nav>
    <ul>
      <li>
        <a href="#ivanov">Ivanov</a>
      </li>
      <li>
        <a href="#sidorov">Sidorov</a>
      </li>
      <li>
        <a href="#petrov">Petrov</a>
      </li>
    </ul>
  </nav>
  <h2 id="ivanov">Ivanov</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, enim recusandae tenetur quasi odio autem
    blanditiis earum fugit necessitatibus explicabo ratione nemo quaerat! Consectetur numquam vel atque quam et
    similique magni obcaecati perferendis voluptatibus voluptatem tempore minima voluptate excepturi quaerat accusantium
    rerum, sed fugit hic voluptatum blanditiis beatae. Perferendis, hic!</p>
  <h2 id="sidorov">Sidorov</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, enim recusandae tenetur quasi odio autem
    blanditiis earum fugit necessitatibus explicabo ratione nemo quaerat! Consectetur numquam vel atque quam et
    similique magni obcaecati perferendis voluptatibus voluptatem tempore minima voluptate excepturi quaerat accusantium
    rerum, sed fugit hic voluptatum blanditiis beatae. Perferendis, hic!</p>
  <h2 id="petrov">Petrov</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, enim recusandae tenetur quasi odio autem
    blanditiis earum fugit necessitatibus explicabo ratione nemo quaerat! Consectetur numquam vel atque quam et
    similique magni obcaecati perferendis voluptatibus voluptatem tempore minima voluptate excepturi quaerat accusantium
    rerum, sed fugit hic voluptatum blanditiis beatae. Perferendis, hic!</p>







</body>

</html>