<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>О Нас</title>
</head>

<body style="background-color: aqua;">
  <h1 align="center">О НАС</h1>

  <h2>Расскажите очевидное</h2>
  <p>Посетитель, впервые пришедший на ваш сайт, ожидает найти ключевую информацию на странице «О нас». Однако, зачастую,
    в
    попытке забросать покупателя сообщениями о товарах, такую информацию разместить забывают. Обязательно расскажите о
    следующем: <br>
  <ul type="none">
    <li>Кто вы</li>
    <li>Что вы делаете</li>
    <li>Когда вы начали это делать</li>
    <li>Где вы расположены</li>
    <li>Как с вами можно связаться</li>
  </ul>
  </p>

  <h2>Люди покупают у людей</h2>
  <p>Это старое клише, но, как и всё лучшее, это правда. Поэтому если ваши потенциальные клиенты не могут найти на
    странице
    «О нас» достойных причин полюбить вас и доверять вам, почему они должны покупать у вас? Страница «О нас» – ваш шанс
    рассказать покупателям о себе и почему они должны выбрать именно вас.
  </p>

  <h2>Наконец, не забудьте: это не только о вас
  </h2>
  <p> Фактически, в основном это о них. Ваши клиенты хотят знать, что вы для них готовы сделать. Поэтому, выделив все
    преимущества, вы превратите ваших потенциальных покупателей в ваших реальных покупателей. <br>
  </p>
  <p>Помните, что большинство посетителей на вашем сайте оказались там не случайно, они там, потому что хотят что-то у
    вас
    купить. А значит полпути уже пройдено, вам нужно просто сделать процесс их покупки лёгким и приятным. Ваши
    покупатели
    ищут подтверждения, что вы можете предоставить им те сервисы или товары, которые им уже нужны.
  </p>

</body>

</html>