<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Наш фотоальбом</title>
</head>

<body style="background-color: aqua;">
  <div>
    <img src=" img/makeup.jpg" alt="" height="200px" width="300px">
    <img src=" img/eyelashes.jpg" alt="" width="300px" height="200px">
    <img src="img/manicure.jpg" alt="" width="300px" height="200px">
    <img src="img/pedicure.jpg" alt="" width="300px" height="200px">
    <img src="img/spa.jpg" alt="" width="300px" height="200px">
    <img src="img/haircut.jpg" alt="" width="300px" height="200px">
  </div>
</body>

</html>