<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Цены и продукция</title>
</head>

<body style="background-color: aqua;">
  <hr>
  <nav>
    <ul type="none">
      <li>
        <a href="#makeup">Макияж</a>
      </li>
      <li>
        <a href="#eyelashes">Наращивание ресниц</a>
      </li>
      <li>
        <a href="#manicure">Маникюр</a>
      </li>
      <li>
        <a href="#pedicure">Педикюр</a>
      </li>
      <li>
        <a href="#spa">СПА процедуры</a>
      </li>
      <li>
        <a href="#haircut">Парикмахерские услуги</a>
      </li>
    </ul>
  </nav>
  <hr>
  <p>
    <b>
      Вы можете быть уверены, что, переступив порог любого из наших салонов, Вы будете обеспечены всем необходимым,
      окружены
      заботой и вниманием. Мы постараемся учесть все Ваши пожелания, максимально сэкономить время и оптимизировать
      материальные затраты. Мы любим наших клиентов! И всячески стараемся сделать их визит к нам полезным и комфортным.
      Мы
      приглашаем Вас в наши салоны, и пусть каждый из Вас оценит и решит, где Вам остаться навсегда.
    </b>
  <h2 id="makeup" align="center">Макияж</h1>
    <p>
      Любая девушка еще подростком начинает осваивать азы <i><u><b>make-up</b></u></i>, но, не имея соответствующих
      навыков и знаний в сфере
      визажа, сложно сделать свой макияж идеальным. Чтобы декоративная косметика сделала Ваше лицо более привлекательным
      и
      интересным, а также скрыла возможные недостатки и дефекты внешности, в нашем салоне существует услуга
      профессионального макияжа: дневного, вечернего, свадебного и экспресс.
    </p>
    <p>
      Умелые руки мастера-визажиста легко и непринужденно придают лицу необходимые черты, скрывают недостатки и
      ненавязчиво
      подчеркивают преимущества. С помощью профессионального макияжа можно добиться самых разных эффектов: от коррекции
      серьезных дефектов внешности до создания фантастического образа. Профессиональные косметические средства лучших
      мировых брендов, созданные на натуральной основе, придадут макияжу естественность, сохранят его безупречным в
      течение
      долгих часов.
    </p>
    <h2 id="eyelashes" align="center">Наращивание ресниц</h2>

    <p>
      Женские глаза – не просто зеркало души. Взгляд каждой представительницы прекрасного пола – это настоящие «оружие»
      соблазнения. В салоне красоты точно знают, как подчеркнуть его и сделать еще более интересным и привлекательным.
    </p>
    <p>
      Косметическое удлинение ресниц – техника, которая родилась еще в начале ХХ века в мировой кузнице красоты и моды –
      Голливуде. Кинодивы добавляли своему взгляду магии, накладывая ресницы на верхние веки.
    </p>
    <p>
      В наших салонах мы делаем поресничное наращивание ресниц . На сегодняшний день это самая популярная процедура,
      позволяющая подчеркнуть и выделить взгляд, сделать глаза более красивыми, яркими и выразительными.
    </p>
    <p>
      Продолжительность 60-120 мин, коррекция - от 45-90 мин. Продолжительность «жизни» реснички - 2-3 недели, потом она
      выпадает и на ее месте растет новая. Выпавшая ресничка тянет за собой нарощенную. Поэтому коррекцию рекомендовано
      делать 1 раз в 3 недели.
      Еще одна важная задача - сохранить получившееся чудо подольше. Вот несколько инструкций, как продлить жизнь
      нарощенным
      ресницам : нужно быть аккуратными с ресницами, не тереть глаза; не пользоваться жирным кремом для глаз, не
      расчесывать
      ресницы от основания до кончиков.
    </p>
    <h2 id="manicure" align="center">Маникюр</h2>
    <p>
      С давних времен женщины стремятся придать своим рукам привлекательный, ухоженный вид с мягкой гладкой кожей, мягко
      округленными пальчиками и аккуратными ноготками. Говорят, настоящую леди можно узнать по холеным рукам. Именно
      руки
      выдают Ваш род занятий, социальный статус, привычки и – увы – возраст. Это Ваша визитная карточка, поэтому они
      всегда
      должны выглядеть идеально. Уход за ногтями, хотя и трудоемок, но доставляет огромное удовольствие при достижении
      безукоризненной их формы и блеска, украшающих ваши нежные пальчики.
    </p>
    <p>
      Мы поделимся с Вами маленькими правилами безукоризненного маникюра: сначала с ногтей удаляют покрытие, даже если
      оно
      было совсем прозрачным, далее с помощью пилок различной степени образивности мастер корректирует длину и форму
      свободного края ногтя, затем на кожицу вокруг ногтя наносят специальный препарат, содержащий фруктовые кислоты,
      растительные экстракты и другие активные компоненты, после чего руки погружают в теплую воду с добавлением
      смягчающих
      и ароматических добавок, после размягчения кутикула становится мягкой и легко удаляется с помощью спец
      инструментов
      (это палочки апельсинового дерева, металлические толкатели, щипчики и ножницы), загрубевшая кожа у краев ногтей
      шлифуется спец пилочкой. После удаления кутикулы на каждый обработанный ноготь, а точнее на кожу вокруг него,
      наносят
      увлажняющее или питательное масло. И, наконец, нанесение лака для ногтей. Сначала используется лак-основа -
      благодаря
      ему главный цвет получится более глубоким и ровным. Он должен подсохнуть в течение нескольких минут. Затем
      накладывают
      лак выбранного цвета. Для более быстрого высыхания ногти сбрызгиваются спреем-сушкой.
    </p>
    <h2 id="pedicure" align="center">Педикюр</h2>
    <p>
      Педикюр включает в себя комплекс мер по уходу за ногами, позволяющий не только сделать их визуально аккуратными и
      ухоженными, но и значительно улучшить их здоровье. Благодаря педикюру кожа на ногах становится гладкой и нежной,
      ногти
      приобретают здоровый вид, а обладательница таких ножек чувствует себя просто превосходно и ловит на себе
      восхищенные
      взгляды.</p>
    <p>В наших салонах красоты высококвалифицированные специалисты рады предложить Вам разнообразные программы по уходу
      за
      ногами: как <span style="color:brown">традиционный классический педикюр, так и аппаратный, спа- педикюр,
        парафинотерапия.</span>
    </p>
    <p>
      Многие считают, что <span style="color:brown">классический педикюр</span> вполне можно делать в домашних условиях,
      но, к сожалению, зачастую
      результат
      такого педикюра – травмы и порезы, а обработка ног лезвием- одна из причин образования мозолей, гиперкератоза
      (натоптышей), трещин и многих других проблем с ногами.
    </p>
    <p>
      <span style="color:brown">Аппаратный педикюр</span> - абсолютно безопасная и комфортная процедура. Стопы и
      ногтевые
      пластины шлифуют с помощью фрез и
      боров различной длины и диаметра. С их помощью мастер педикюра не только сделает эстетическую обработку стопы, но
      и
      избавит Вас от многих проблем с ногами.
    </p>
    <h2 id="spa" align="center">Спа процедуры</h2>
    <p>
      <span style="color:brown">Обертывание - одна из самых известных и любимых женщинами процедур в лечении
        целлюлита.</span> Основная задача, с которой
      прекрасно справляются обёртывания,- коррекция контуров фигуры и уменьшение, а в идеале и полное исчезновение
      целлюлитных отложений. Такие процедуры также благотворно влияют на лимфодренаж, кровоток, обмен веществ, повышают
      тонус кожи и укрепляют иммунитет. Обертывание морскими водорослями применяется для уменьшения жировых тканей и
      целлюлита, обогащения организма минеральными веществами, вывода токсинов и устранения застойных явлений Уже после
      первых двух посещений косметолога вы заметите исчезновение пары сантиметров в нужных местах.
    </p>
    <p> По механизму действия обертывания делятся на холодные и горячие. Горячие обертывания расширяют сосуды и
      активизируют
      кровообращение. В ходе процедуры обертывания через раскрытые поры на поверхность выделяются шлаки и токсины.
      Эффект
      тепла создается благодаря усилению кровообращения. Однако горячее обертывание противопоказано при варикозном
      расширении вен. Но в этом случае как раз подойдет холодное обертывание. При нем капилляры и сосуды сужаются, а
      кровь
      и
      лимфа несут токсины и шлаки во внутренние очистительные органы. Особенно холодное обертывание рекомендуется при
      отеках, усталости, тяжести в ногах. Можно сочетать теплое обертывание на зоны целлюлита с плотным жировым слоем и
      холодное - на участки тела с дряблой кожей с целью повышения ее тонуса. К сожалению, есть состояния, при которых
      любые
      обертывания делать не рекомендуется - гинекологические заболевания, сердечно-сосудистые и кожные заболевания,
      гипертония.</p>

    <h2 id="haircut" align="center">Парикмахерские услуги</h2>
    <p>Вы устали от вьющихся, пушистых волос, которые с трудом поддаются укладке? Бесконечные вытягивания утюжками
      превратили
      их в безобразную паклю?</p>
    <p> С обложек глянцевых журналов на вас смотрят улыбающиеся лица популярных моделей. И все они являются
      обладательницами
      роскошных, блестящих, прямых волос. Вы с грустью думаете, что вам это не доступно?</p>
    <p>Салон красоты "ЛИЛИЯ" специально для вас предлагает инновационную услугу - бразильское выпрямление волос. В нашем
      салоне эта услуга предоставлена сразу тремя брэндами – <span style="color:brown">Brazilian Blowout, Глобал Кератин
        Тритмент, Marcia Teixeira.</span></p>
</body>

</html>