<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homework5</title>
</head>

<body>
  <div>
    <b>
      <table border="1px" style="border-color: red;" width="50%" align="center" rules="all" cellpadding="0">
        <tr>
          <td colspan="2" style="background-color: yellow;">Текст 1</td>
          <td>Текст 8</td>
          <td>Текст 12</td>
          <td rowspan="4" style="background-color: yellow;">Текст 16</td>
        </tr>
        <tr>
          <td>Текст 2</td>
          <td>Текст 5</td>
          <td>Текст 9</td>
          <td>Текст 13</td>
        </tr>
        <tr>
          <td>Текст 3</td>
          <td>Текст 6</td>
          <td>Текст 10</td>
          <td>Текст 14</td>
        </tr>
        <tr>
          <td>Текст 4</td>
          <td>Текст 7</td>
          <td>Текст 11</td>
          <td>Текст 15</td>
        </tr>
      </table>
    </b>
  </div>

  <table style="border-collapse: collapse;">
    <tr>
      <td height="125px" width="900px" style="border:1px solid black; color: red;" align="center" colspan="3">
        <h2>Шапка сайта</h2>
        <p>Ячейка размером 900х125</p>
      </td>
    </tr>
    <tr>
      <td height="30px" width="900px" align="center" colspan="3">Пустая ячейка размером 900х30</td>
    </tr>
    <tr>
      <td height="35px" width="900px" style="border:1px solid black; color: blue;" align="center" colspan="3">
        <h2>Горизонтальное меню</h2>
        <p>Ячейка размером 900х35</p>
      </td>
    </tr>
    <tr>
      <td height="30px" align="center" colspan="3">Пустая ячейка размером 900х30</td>
    </tr>

    <tr>
      <td width="612px" height="500px" style="color: green; border: 1px solid black;" align="center">
        <h2>Тело сайта</h2>
        <p>Ячейка размером 612х500</p>
      </td>
      <td width="30px" height="500px"
        style="border: 1px solid black; writing-mode: vertical-lr; transform: rotate(180deg)" align="center">
        <p>Пустая ячейка размером 900х30</p>
      </td>
      <td width="266px" height="500px" style="border: 1px solid black; color: blue;" align="center">
        <h2>Вертикальное меню</h2>
        <p>Размер ячейки 266х500</p>
      </td>
    </tr>

    <tr>
      <td height="30px" align="center" colspan="3">Пустая ячейка размером 900х30</td>
    </tr>



    <tr>
      <td height="35px" style="border:1px solid black; color: red;" align="center" colspan="3">
        <h2>ПОДВАЛ САЙТА</h2>
        <p>Ячейка размером 900х190</p>
      </td>
    </tr>

  </table>


  <b>
    <table style="margin-top: 50px; border: 1px solid black;" rules="all">
      <tr>
        <td width="500px" height="50px"></td>
        <td width="100px" height="50px"></td>
      </tr>

      <tr>
        <td>
          <table rules="all">
            <tr>
              <td width="100px" height="50px">красный</td>
              <td width="100px" height="50px">зеленый</td>
              <td width="100px" height="50px">синий</td>
              <td width="100px" height="50px">желтый</td>
              <td width="100px" height="50px"></td>
            </tr>
            <tr>
              <td width="100px" height="50px">фон</td>
              <td width="100px" height="50px">фон</td>
              <td width="100px" height="50px">фон</td>
              <td width="100px" height="50px"> фн</td>
              <td width="100px" height="50px"></td>
            </tr>
          </table>
        </td>
        <td>
          <table rules="all">
            <tr>
              <td width="100px" height="50px"></td>
            </tr>
            <tr>
              <td width="100px" height="50px"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="500px" height="50px"></td>
        <td width="100px" height="50px"></td>
      </tr>
    </table>
  </b>



</body>

</html>